
body {
background-image: url(soccer.jpg);
background-size: cover;
background-position: fixed;
}

.wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  }

.result-container {
  margin-bottom: 410px;
 font-weight: bold;
  color: white;
  text-shadow: 2px 2px #000;
  }

.input-search {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 15px;
}

.button-but {
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 95px;
}
/*.msg-container {
  display: inline-block;
  height: 1900px;
  width: 600px;
  overflow: auto;
}*/

.team-design {
  text-align: center;
  font-size: 60px;
  text-align: center;
}

.team-name {
  font-weight: bold;
  font-size: 150px;
  text-decoration: underline;
  margin-bottom: 38px;
}

ul {
  text-align: center;
  list-style: none;
  }